@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
  background: #151515;
  font-family: 'Hind Vadodara', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #151515;
}
::-webkit-scrollbar-thumb {
  background: rgba(254,206,0,0.2);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(254,206,0,0.4);
}